<div class="todo_setup--input">
  <!-- [(ngModel)]="title" -->
  <!-- [(ngModel)]="item.description" -->
  <!-- [(ngModel)]="item.start_time" -->
  <!-- [(ngModel)]="item.deadline_time" -->
  <!-- [(ngModel)]="item.priority" -->
  <form [formGroup]="input_form">
    <label for="id-todo_setup-content" class="block font-semibold opacity-80"
      >Todo tile content</label
    >
    <div class="todo_setup-content" id="id-todo_setup-content">
      <div class="todo_setup-content--title">
        <div class="field">
          <label for="id-todo-title" class="block">*Todo tile</label>

          <p-autoComplete
            class="title-todolist"
            formControlName="fm_title"
            minlength="1"
            placeholder="Title todo"
            id="id-todo-title"
            [(ngModel)]="selectedTitle"
            [suggestions]="filteredTitles"
            (completeMethod)="filterItem($event)"
            field=""
          ></p-autoComplete>

          <!-- (!input_form.controls['fm_title'].valid) && -->
          <!-- &&input_form.controls['fm_title'].dirty -->
          <!-- input_form.controls['fm_title'].invalid -->
          <!-- class="p-error" -->
          <!-- severity="error" -->
          <small
            id="id-todo-title"
            class="p-error"
            *ngIf="input_form.controls['fm_title'].invalid"
            >Title todo is required!</small
          >

          <small
            id="id-todo-title"
            class="p-error"
            *ngIf="input_form.get('fm_title')?.errors?.['titlenameDuplicated']"
            >. Duplicated username!</small
          >

          <small id="id-todo-title" class="block">Enter your todo-title.</small>
        </div>
        <!-- <span class="p-float-label">
          <input id="todo-title" type="text" pInputText [(ngModel)]="title"/>
          <label for="todo-title">Username</label>
        </span> -->
      </div>

      <div class="todo_setup-content--description">
        <span class="p-float-label">
          <textarea
            formControlName="fm_description"
            style="width: -webkit-fill-available"
            id="id-float-input-description"
            rows="5"
            pInputTextarea
          ></textarea>
          <label for="id-float-input-description">Description</label>
        </span>
      </div>
    </div>

    <label
      for="id-todo_setup-time"
      class="block font-semibold opacity-80"
      style="margin-top: 20px"
      >Todo setup time</label
    >
    <div
      class="todo_setup-time flex flex-row"
      id="id-todo_setup-time"
    >
      <div class="todo_setup-time--start mt-2">
        <div class="flex flex-column">
          <label for="start" class="mb-2">Todo start:</label>
          <p-calendar
            placeholder="Start : mm/dd/yyyy"
            formControlName="fm_time_start"
            [showTransitionOptions]="'250ms'"
            [hideTransitionOptions]="'125ms'"
            [showTime]="true"
            [showSeconds]="true"
            [showIcon]="true"
            [readonlyInput]="true"
            [numberOfMonths]="1"
            inputId="start"
          ></p-calendar>
        </div>
        <!-- <p-calendar [(ngModel)]="value"></p-calendar> -->
      </div>

      <div class="todo_setup-time--deadline mt-2 ml-8">
        <div class="flex flex-column">
          <label for="id_deadline" class="mb-2">Todo deadline:</label>
          <p-calendar
            placeholder="End : mm/dd/yyyy"
            formControlName="fm_time_deadline"
            [showTransitionOptions]="'500ms'"
            [hideTransitionOptions]="'250ms'"
            [showTime]="true"
            [showSeconds]="true"
            [showIcon]="true"
            [readonlyInput]="true"
            [numberOfMonths]="2"
            inputId="id_deadline"
          >
            <ng-template pTemplate="header">Start todo</ng-template>
          </p-calendar>
        </div>
      </div>
    </div>

    <div class="todo_setup-priority mt-4">
      <label for="id_priority" class="mb-2">Priority:</label>
      <p-dropdown
        formControlName="fm_priority"
        [options]="listPriority"
        placeholder="Select the priority of the todo"
        optionLabel="priority"
        optionLabel="name"
        [showClear]="true"
        inputId="id_priority"
        class="ml-2"
      ></p-dropdown>
    </div>

    <div class="todo_setup-btn mt-4">
      <p-button
        pRipple
        type="button"
        label="Reset"
        icon="pi pi-refresh"
        iconPos="right"
        class="p-button-danger p-button-sm"
        (click)="resetAll()"
      ></p-button>

      <!-- Button remove all notification -->
      <p-button
        pRipple
        type="button"
        label="Reset all notification"
        icon="pi pi-refresh"
        iconPos="right"
        class="p-button-danger p-button-sm"
        (click)="removeAllNotification()"
      ></p-button>

      <p-button
        *ngIf="this.input_form.value.fm_btn_submit"
        label="Submit "
        icon="pi pi-check"
        iconPos="right"
        class="p-button-sm"
        (click)="submitValue()"
      ></p-button>

      <p-button
        *ngIf="!this.input_form.value.fm_btn_submit"
        label="Save"
        icon="pi pi-check"
        iconPos="right"
        class="p-button-success p-button-sm"
        (click)="saveValue()"
      ></p-button>
    </div>
  </form>
  <!-- <p-messages></p-messages> -->

  <!-- {{ input_form.value | json }}
  <button type="button" (click)="input_form.reset()">Rest</button> -->
</div>

<!-- <span class="p-float-label">
  <input
    id="float-input"
    class=""
    style="width: 200%"
    #inputElementRef
    type="text"
    [(ngModel)]="title"
    (keyup.enter)="submitValueKeyEnter($event)"
    pInputText
  />
  <label for="float-input" class="text-sm">Title</label>
</span> -->

<!-- <input
  class="todo-input"
  #inputElementRef
  type="text"
  [value]="title"
  (keyup.enter)="submitValueKeyEnter($event)"
/> -->

<!-- Button save -->
<!-- <button class="btn" (click)="submitValue(inputElementRef.value)">
  Set up to-do
</button> -->

<!-- <button class="btn" (click)="submitValue(inputElementRef.value)">
  <div class="flex flex-direction-row align-items-center">
    <span>Set up to-do </span>
    <i class="pi pi-plus ml-1 text-xs"></i>
  </div>
</button> -->

<!-- <button (click)="changeTitle_ext(inputElementRef)">Save</button> -->
<!-- <button>Save</button> -->
<!-- (keyup.enter)="submitValue($event.target.value)" -->
