.todo-app {
  // list-style-type: none;
  position: relative;
  width: 60%;
  padding: 30px 30px 15px;
  background: white;
  border: 1px solid;
  border-color: #dfdcdc #d9d6d6 #ccc;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  // margin: 20px auto;
  margin-top: 20px;

  // animation
  animation-name: show_todo-list;
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 500ms;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: linear;

  height: fit-content;
}

.notification-add-success {
  position: absolute;
  top: 20px;
  right: 94px;
  // top: 600px;
  // right: 920px;




  animation-name: show_notification;
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 1000ms;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease;
}


@keyframes show_notification {
  0% {
    // box-shadow: 6px -4px 20px #fff;
    transform: scale(0);
    // transform : rotate(270deg);
    opacity: 0;

    // oxy
    top: 600px;
    right: 920px;
  }

  100% {
    // box-shadow: 6px -4px 2px #fff;
    transform: scale(1);
    // transform : rotate(0deg);
    opacity: 1;
    // oxy
    top: 20px;
    right: 94px;
  }
}


.block-input {
  width: 60%;
  padding: 0 10px;
}

.block-detail {
  width: 40%;
  padding: 0 10px 0 15px;
}


.todo-app ul {
  margin: 0;
  margin-top: 2px;
}


.block-button-all {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.btn {
  background: lightseagreen;
  color: #fff;
  padding: 3px 10px;
  margin: 0 0 0 3px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  vertical-align: bottom;
}

.btn:hover {
  background: lightseagreen;
  opacity: 0.8;
}

.btn-red {
  background: red;
}

.btn-red:hover {
  background: red;
  opacity: 0.8;
}

@keyframes show_todo-list {
  0% {
    box-shadow: 6px -4px 20px #fff;
    transform: scale(0.2);
    // transform : rotate(270deg);
    opacity: 0.25;
    right: -100px;
  }

  100% {
    box-shadow: 6px -4px 2px #fff;
    transform: scale(1);
    // transform : rotate(0deg);
    opacity: 1;
    right: 0;
  }
}


.todo-app::before,
.todo-app::after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 4px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 2px;
}


.todo-app::after {
  bottom: -3px;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo-app::before {
  bottom: -5px;
  left: 2px;
  right: 2px;
  border-color: #c4c4c4;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}



.todo-app .btn-detail {
  display: flex;
  justify-content: center;
}


.btn-align {
  align-content: center;
  align-items: center;
}


.details-more--button {
  color: #3399FF;
}

.details-more--button:hover {
  opacity: 0.8;
  cursor: pointer;
}
