.todo-item {
  padding: 5px 0;
}


.check-text {
  display: flex;
  padding: 5px;
  border-radius: 5px;
  // background-color: #eeffef;
}


.button-edit .button-save {}

.todo-checkbox {
  flex-shrink: 0;
  margin: auto 1ex auto 0;
  cursor: pointer;
  padding: 15px 15px;
  size: 15px;
  width: 16px;
  height: 16px;
}

.todo-title {
  // flex-grow: 1;
  // width: 160px;
  width: 100%;
  padding: 0 0 0 6px;
  font-size: 15px;
  text-align: left;
  border: none;
  // word-wrap: break-word;
  // word-break: break-all;
  background: #fff;
}

.bg-done {
  background-color: #eeffef;
}

.bg-edit {
  background-color: #fff;
}
.todo-complete {
  text-decoration: line-through;
}

.wrap-check-text-edit-save {
  padding: 5px;
  display: flex;
  // background-color: #eeffef;
}



.wrap-check-text-edit-save-remove {
  padding-top: 10px;
  border-top: solid 1px #ddd;
  min-height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}


.bg-cl-gr{
  background-color: lightseagreen;
}
