.todo-item {
  padding: 5px 0;
}


.check-text {
  display: flex;

}


.button-edit .button-save{

}

.todo-checkbox {
  flex-shrink: 0;
  margin: auto 1ex auto 0;
  cursor: pointer;
  padding: 15px 15px;
  size: 15px;
  width: 16px;
  height: 16px;
}

.todo-title {
  // flex-grow: 1;
  width: 160px;
  padding: 0 0 0 6px;
  font-size: 15px;
  text-align: left;
  border:none
}

.todo-complete {
  text-decoration: line-through;
}

.wrap-check-text-edit-save {
  display: flex;
}


.wrap-check-text-edit-save-remove {
  padding-top: 10px;
  border-top: solid 1px #ddd;
  min-height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}
