.pl-4 {
  padding-left: 4%;
}

.show--table {
  display: block;
}

// .btn {
//   font-size: 16px;
//   color: #555;
//   background-color: #f8f8f8;
//   width: 60%;
// }


.todo-app .btn-detail {
  display: flex;
  justify-content: center;
}


.btn-align {
  align-content: center;
  align-items: center;
}

.block-detail {
  display: block;
  position: relative;

  // Animation
  animation-name: show_table-detail;
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 1100ms;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease;
}

.block--table {
  display: block;
}


.details-more {
  padding: 5px;
  font-size: 14px;
  color: #3399FF;
  text-align: end;
  cursor: pointer;
  margin-bottom: 10px;
}


.table_todolist--detail,
.tr_todolist--detail,
.th_todolist--detail,
.td_todolist--detail {
  // border: 1px solid #333;
  font-size: 12px;
  // font-weight: 20px;
}

.table_todolist--detail {
  position: relative;
  text-align: center;
  width: 75%;
  border-collapse: collapse;
  margin: auto;
  // display: table-row;



}

@keyframes show_table-detail {
  0% {
    box-shadow: -6px -4px 20px #f1f1f1;
    transform: scale(0.2);
    // transform: rotate(-270deg);
    opacity: 0.25;
    left: -100px;
  }

  100% {
    box-shadow: -6px -4px 2px #f1f1f1;
    transform: scale(1);
    transform: rotate(0deg);
    opacity: 1;
    left: 0px;
  }
}


.tr-header_todolist--detail {
  box-shadow: 0px 0px 6px #888888;
  background-color: #dddddd;
  font-weight: bold;
  opacity: 0.8;
  font-size: 14px;
}


.tr_todolist--detail {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  padding: 10px 0px;

  border: none;
}

.tr_todolist--detail:hover {
  box-shadow: 0px 0px 5px #888888;
  background-color: #dddddd;
  font-weight: bold;
  opacity: 0.8;


}

.tr-box-shadow {
  display: contents;
}



.th_todolist--detail {
  width: calc(100% / 5);
  // box-shadow: 1px 2.5px 5px #888888;
  // box-shadow: 0px 0px 5px #888888;
  background-color: #dddddd;
  font-weight: bold;
  opacity: 1;
  border: none;
}

.td_todolist--detail {
  width: calc(100% / 5);
  letter-spacing: 0.5px;
}

.td_todolist--detail:hover {
  // box-shadow: 1px 2.5px 5px #888888;
  box-shadow: 0px 0px 5px #888888;
  background-color: #dddddd;
  font-weight: bold;
  opacity: 1;
  // background-color: red;

}

.border-status {
  display: inline-block;
  text-align: center;
  padding: 4px 12px;
  margin: 10px 0px;
  border: 1px solid;
  border-color: #333;
  color: #333;
}


.status-complete {
  border-color: rgb(0, 255, 0.5);
  color: rgb(0, 255, 0.5);
}

.status-proses {
  border-color: rgb(255, 174, 0);
  color: rgb(255, 174, 0);
}


.back--button {
  position: absolute;
  // left: 180px;
  left: 12%;
  font-size: 14px;
  color: #3399FF;
}

.back--button:hover {
  opacity: 0.8;
  cursor: pointer;
}
