.block-detail-todo-item{
  padding:10px;
  margin-left: 15px;
}

.text-item{
  padding: 5px;
  margin: 5px;
}

.block-detail-todo-item ul{
  margin-left: 15px;
}


.back--button {
  text-align: end;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #3399FF;

}

.back--button:hover {
  opacity: 0.8;
  cursor: pointer;
}
